body {
}
section {
  float: left;
  margin: 5px;
}
#editor-area {
}
#game-area {
  margin-top: 30px;
  width: 630px;
}
#editor {
  background-color: #464646;
  color: #ffffff;
  font-size: 1.8em;
}
#canvas {
  background-color: #424242;
}
